
.form-item {
  padding: 10px;
  margin: 10px;
  // width: 100%;
  input{
    margin-top: 5px;
    width: 100%;
  }
  textarea{
    display: block;
    width: 100%;
  }

}

label {
  font-weight: bold;
}

.form-check-input[type=checkbox] {
  border-color: gray;
}