<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<link rel="stylesheet" href="/css/admin.css" />

<div class="container main-body">
  <div class="header">
    <div class="heading active" onclick="showBody(this,'allUsers')">All Users</div>
    <div class="heading border-left border-right" onclick="showBody(this,'pendingReviews')">
      Pending Reviews
    </div>
    <div
      class="heading"
      onclick="showBody(this,'submittedReviews')"
    >
      Submitted Reviews
    </div>
  </div>
  <div class="home-body show" id="allUsers"><%- include('all-users') %></div>
  <div class="home-body" id="pendingReviews"><%- include('pending-reviews') %></div>
  <div class="home-body" id="submittedReviews"><%- include('submitted-reviews') %></div>
</div>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/datatable.js"></script>
